﻿@model TestSolution.Data.Certification

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Certification</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.EmpId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpInfo.EmpId)
                @Html.ValidationMessageFor(model => model.EmpInfo.EmpId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearOfCertiifcation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearOfCertiifcation)
                @Html.ValidationMessageFor(model => model.YearOfCertiifcation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.DisplayName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpInfo.DisplayName)
                @Html.ValidationMessageFor(model => model.EmpInfo.DisplayName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.FirstLineSupervisor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpInfo.FirstLineSupervisor)
                @Html.ValidationMessageFor(model => model.EmpInfo.FirstLineSupervisor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpInfo.Department)
                @Html.ValidationMessageFor(model => model.EmpInfo.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateSigned, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateSigned)
                @Html.ValidationMessageFor(model => model.DateSigned)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpSignature, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpSignature)
                @Html.ValidationMessageFor(model => model.EmpSignature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupervisorSignature, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SupervisorSignature)
                @Html.ValidationMessageFor(model => model.SupervisorSignature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateApproved, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateApproved)
                @Html.ValidationMessageFor(model => model.DateApproved)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
