﻿@model TestSolution.Data.Certification

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Certification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpInfo.EmpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpInfo.EmpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfCertiifcation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfCertiifcation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpInfo.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpInfo.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpInfo.FirstLineSupervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpInfo.FirstLineSupervisor)
        </dd>

         <dt>
            @Html.DisplayNameFor(model => model.EmpInfo.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpInfo.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApproved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
