﻿@model IEnumerable<TestSolution.Data.Certification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpInfo.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfCertiifcation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpInfo.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpInfo.FirstLineSupervisor)
        </th>
      <th>
            @Html.DisplayNameFor(model => model.EmpInfo.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpSignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorSignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateApproved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInfo.EmpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfCertiifcation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInfo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInfo.FirstLineSupervisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInfo.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpSignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorSignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateApproved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id}) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
