﻿@model TestSolution.Data.Claim

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div>
        <h4>Claim</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DueDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DueDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Month1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Month1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Month2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Month2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Month3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Month3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Remarks)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.QuarterEndingDate }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
