﻿@model TestSolution.Data.Claim

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Claim</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.QuarterEndingDate)
    
            <div class="form-group">
                @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DueDate)
                    @Html.ValidationMessageFor(model => model.DueDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Month1, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Month1)
                    @Html.ValidationMessageFor(model => model.Month1)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Month2, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Month2)
                    @Html.ValidationMessageFor(model => model.Month2)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Month3, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Month3)
                    @Html.ValidationMessageFor(model => model.Month3)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Amount1, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount1)
                    @Html.ValidationMessageFor(model => model.Amount1)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Amount2, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount2)
                    @Html.ValidationMessageFor(model => model.Amount2)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Amount3, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount3)
                    @Html.ValidationMessageFor(model => model.Amount3)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TotalAmount, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalAmount)
                    @Html.ValidationMessageFor(model => model.TotalAmount)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remarks)
                    @Html.ValidationMessageFor(model => model.Remarks)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
