﻿@model IEnumerable<TestSolution.Data.Claim>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.QuarterEndingDate }) |
                @Html.ActionLink("Details", "Details", new { id=item.QuarterEndingDate }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.QuarterEndingDate })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
