﻿@model TestSolution.Data.TransitOptions

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TransitOptions</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, new SelectList(
                                       new List<Object>{
                            new { value = "Bus" , text = "Bus"  },
                            new { value = "Rail" , text = "Rail"  },
                            new { value = "Ferry" , text = "Ferry" }
                        },
                        "value",
                        "text",
                    1), new { @class = "form-control" })
             
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.State, new SelectList(
                                  new List<Object>{
                            new { value = "NY" , text = "NY" },
                            new { value = "NJ" , text = "NJ" },
                            new { value = "CT" , text = "CT" },
                            new { value = "PA" , text = "PA" },
                            new { value = "PR" , text = "PR" }
                        },
                        "value",
                        "text",
                    1), new { @class = "form-control" }
               )
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
