﻿@model TestSolution.Data.ProfileInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>ProfileInfo</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Contact, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Contact)
                    @Html.ValidationMessageFor(model => model.Contact)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MaxMonthlyClaim, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaxMonthlyClaim)
                    @Html.ValidationMessageFor(model => model.MaxMonthlyClaim)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.QuarterEndingDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuarterEndingDate)
                    @Html.ValidationMessageFor(model => model.QuarterEndingDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ClaimDueDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClaimDueDate)
                    @Html.ValidationMessageFor(model => model.ClaimDueDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.VerificationRequired, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VerificationRequired)
                    @Html.ValidationMessageFor(model => model.VerificationRequired)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Month1, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Month1)
                    @Html.ValidationMessageFor(model => model.Month1)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Month2, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Month2)
                    @Html.ValidationMessageFor(model => model.Month2)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Month3, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Month3)
                    @Html.ValidationMessageFor(model => model.Month3)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DaysPerMonth1, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DaysPerMonth1)
                    @Html.ValidationMessageFor(model => model.DaysPerMonth1)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DaysPerMonth2, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DaysPerMonth2)
                    @Html.ValidationMessageFor(model => model.DaysPerMonth2)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DaysPerMonth3, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DaysPerMonth3)
                    @Html.ValidationMessageFor(model => model.DaysPerMonth3)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BikeType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BikeType)
                    @Html.ValidationMessageFor(model => model.BikeType)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TransitType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TransitType)
                    @Html.ValidationMessageFor(model => model.TransitType)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SFO, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SFO)
                    @Html.ValidationMessageFor(model => model.SFO)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ODBCName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ODBCName)
                    @Html.ValidationMessageFor(model => model.ODBCName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ConnectString, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConnectString)
                    @Html.ValidationMessageFor(model => model.ConnectString)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ProcName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProcName)
                    @Html.ValidationMessageFor(model => model.ProcName)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
