﻿@model IEnumerable<TestSolution.Data.ProfileInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxMonthlyClaim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuarterEndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerificationRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysPerMonth1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysPerMonth2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysPerMonth3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SFO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ODBCName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxMonthlyClaim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuarterEndingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerificationRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPerMonth1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPerMonth2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPerMonth3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SFO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ODBCName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
