﻿@model TestSolution.Data.Questionnaire

@{
    ViewBag.Title = "Create";
}

<h2>Create Questionnaire</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Questionnaire</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.DisplayName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpInfo.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.EmpInfo.DisplayName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpInfo.Department, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.EmpInfo.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpInfo.Phone, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.EmpInfo.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.LanId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpInfo.LanId, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.EmpInfo.LanId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.EmpId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpInfo.EmpId, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.EmpInfo.EmpId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.FirstLineSupervisor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmpInfo.FirstLineSupervisor, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.EmpInfo.FirstLineSupervisor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>Please enter your HOME Zip Code:</div>
                @Html.EditorFor(model => model.Zip)
                @Html.ValidationMessageFor(model => model.Zip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateSubmitted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 @Html.TextBoxFor(model => model.DateSubmitted, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.DateSubmitted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangeRoutine, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>Will enrollment in the Region's Public Transit Fare Subsidy Program result in a change to your present commuting routine/pattern?</div>
                @Html.DropDownListFor(model => model.ChangeRoutine, new SelectList(
                                  new List<Object>{
                            new { value = "Yes" , text = "Yes" },
                            new { value = "No" , text = "No" },
                            },
                                "value",
                                "text" ,1), 
                                new { @class = "form-control" }
               )
                @Html.ValidationMessageFor(model => model.ChangeRoutine)
            </div>
        </div>

          <div class="form-group">
            @Html.LabelFor(model => model.CommuteCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>How much does it or will it cost you each day to commute to and from work using public/mass transportation?</div>
                @Html.EditorFor(model => model.CommuteCost)
                @Html.ValidationMessageFor(model => model.CommuteCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkSchedule, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.WorkSchedule, new SelectList(
                                  new List<Object>{
                            new { value = "FT - 5/4/9" , text = "Full-time/Compressed - 5/4/9" },
                            new { value = "FT - 4/10" , text = "Full-time/Compressed - 4/10" },
                            new { value = "FT - 8" , text = "Full-time - 8 hours per day" },
                            new { value = "PT" , text = "Part-time" },
                                                   },
                                "value",
                                "text" ,1), 
                                new { @class = "form-control" }
               )
                @Html.ValidationMessageFor(model => model.WorkSchedule)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Cancel" class="btn btn-default"
                       onclick="javascript:document.location.href='@Url.Action("Index", "Questionnaire")'" />
            </div>
            
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Questionnaire")
</div>

@section Breadcrumbs {
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Questionnaire", "Index", "Questionnaire")
        </li>
        <li class="active">My Questionnaire</li>
    </ul>
}

@section Scripts {
    <!--
   <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        -->

<script type="text/javascript">
    require(["TestSolution/questionnaireClass", "dojo/domReady!"], function (QuestionnaireClass) {

        var questionnaire = new QuestionnaireClass();
        questionnaire.Create("@ViewBag.lanid");
    });
</script>





}
