﻿@model TestSolution.Data.Questionnaire

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Questionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpInfo.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpInfo.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpInfo.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpInfo.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpInfo.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpInfo.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeRoutine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeRoutine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommuteCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommuteCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkSchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkSchedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
