﻿@model TestSolution.Data.Questionnaire

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("MyQuestionnaire", "Questionnaire"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Questionnaire</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmpInfo.LanId)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.DisplayName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpInfo.DisplayName)
                @Html.ValidationMessageFor(model => model.EmpInfo.DisplayName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpInfo.Department)
                @Html.ValidationMessageFor(model => model.EmpInfo.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpInfo.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpInfo.Phone)
                @Html.ValidationMessageFor(model => model.EmpInfo.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zip)
                @Html.ValidationMessageFor(model => model.Zip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateSubmitted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateSubmitted)
                @Html.ValidationMessageFor(model => model.DateSubmitted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangeRoutine, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChangeRoutine)
                @Html.ValidationMessageFor(model => model.ChangeRoutine)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommuteCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommuteCost)
                @Html.ValidationMessageFor(model => model.CommuteCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkSchedule, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkSchedule)
                @Html.ValidationMessageFor(model => model.WorkSchedule)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Breadcrumbs {
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Questionnaire", "Index", "Questionnaire")
        </li>
        <li class="active">Edit Questionnaire</li>
    </ul>
}



@section Scripts {

<script type="text/javascript">
    require(["TestSolution/QuestionaireClass", "dojo/domReady!"], function (Questionnaire) {
        var questionnaire = new Questionnaire();

        questionnaire.edit();

    });
 </script>
}
