﻿@model IEnumerable<TestSolution.Data.Questionnaire>

@{
    ViewBag.Title = "Display";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeRoutine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommuteCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeRoutine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommuteCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkSchedule)
            </td>
            <td>
                @if (item.Status == "Request" || item.Status == "Approved")
                {
                    @Html.ActionLink(item.Status, "Details", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Other: " + item.Status, "Details", new { id = item.Id })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
