﻿@model IEnumerable<TestSolution.Data.Questionnaire>

@{
    ViewBag.Title = "Index";
}

<h2>List of Questionnaires</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpInfo.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpInfo.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpInfo.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeRoutine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommuteCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSchedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInfo.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInfo.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpInfo.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeRoutine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommuteCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSchedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
